@import "fonts.scss";


html {
    height: 100%;
}

body {
    padding: 0;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    line-height: 1.6;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(1, 22, 39);
    color: rgb(214, 222, 235);
}

h1.not-in-diff {
    padding-bottom: 1em;
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content {
    width: calc(100% - 2*9em);
    padding: 5em 9em;
}

.container {
    margin-top: 0;
    margin-left: 9em;
    margin-right: 0;
    margin-bottom: 0;
}

.paragraph {
    margin-bottom: 1.6em;
}

.added {
    color: green;
}

.removed {
    color: red;
}


#root {
    height: 100%;
}

.help {
    position: fixed;
    right: 20px;
    bottom: 15px;
}

.multi-line {
    text-align: right !important;
}

.__react_component_tooltip.type-dark {
    background-color: rgb(1, 22, 39);
}

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 30px 5px 5px;
    width: 100%;
    text-align: right;
    background-color: rgb(1, 22, 39);
    outline-style: none;
}

.controls-button {
    padding-left: 10px;

}

.about {
    padding-right: 20px;

    a, a:hover, a:visited {
        color: rgb(214, 222, 235);
        text-decoration: none;
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 100;
    font-size: 50px;
}


.overlay > div {

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.overlay-left {
    width: calc(20% - 2px);
    height: 100%;
    float: left;
    border-right: 2px dashed;
}

.overlay-center {
    width: calc(60% - 2px);
    height: 100%;
    float: left;
    border-right: 2px dashed;
}

.overlay-right {
    width: 20%;
    height: 100%;
    float: right;
}


@media(max-width: 1000px) {
    #root {
        font-size: calc(8px + 6 * ((100vw - 320px) / 680))
    }

    .content {
        padding: 3em 3em;
        width: 90%;
    }

    .container {
        margin: 0em auto;
    }

}
